body{
	font-family: 'PT Sans', sans-serif;
}


.logo{
	width: 136px;
}

.navigation{
	font-size: 14px;
}


.navigation ul,
.motivation ul{
	list-style: none;
	padding:0px;
	margin: 0px;
}

.navigation a{
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	line-height: 26px;
} 

.mainInfo h2{
	color: #000000;
	font-size: 21px;
	line-height: 26px;
}

.motivation p{
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
}

.motivation h2{
	color: #333333;
	font-size: 21px;
	line-height: 21px;
}

.motivation .bigFeature h2{
	color:#ffffff;
}

.motivation p:first-child{
	color: #333333;
	font-size: 14px;
	line-height: 26px;
}

.motivation .about{
	background-color:#81b3d2;
}

.motivation .smallFeature p{
	color: #333333;
}

.feature:last-child{
	background-color:#eeeeee; 
}

.location h2{
	color:#000000;
	font-size: 30px;
	line-height: 24px;
}

.location p{
	color:#333333;
	font-size: 14px;
	line-height: 24px;
}

.searchHotel h2{
	background-color: #766357;
	color:#000000;
	font-size: 21px;
	line-height: 26px;
}

.searchHotel label,
.searchHotel input{
	font-weight: bold;
	color:#000000;
	font-size: 14px;
	line-height: 26px;
}

.searchHotel input[type="submit"]{
	background-color: #81b3d2;
	color:#ffffff;
	font-size: 21px;
	line-height: 26px;
}


.itemDescription h2{
	font-weight: bold;
	color:#000000;
	font-size: 21px;
	line-height: 26px;
}

.itemDescription p{
	font-weight: bold;
	color:#333333;
	font-size: 14px;
	line-height: 21px;
}

.more-link{
	background-color: #81b3d2;
}

.reservation-link{
	background-color: #766357;	
}

.preview{
	width: 135px;
	height: 90px;
}


.searchHotel input[type="submit"]:active{
	background-color: #5496bd;
	color:#88b6d1;
}

.copyRight a{
		display: inline-block;
		background: url("img/logo-htmlacademy.svg") 50% 50% no-repeat;
		width: 120px;
		height: 43px;
}

.copyRight a:hover{
		background-color: #79a8c5;
}

.copyRight a:active{
		background-color: #bdbbbc;
}

a.social{
	width: 50px;
	height: 50px;
	display: inline-block;
	background-color: #81b3d2;
}

a.social:active{
	background-color: #5496bd;
}

a.social.tw-btn{
	background-image: url("img/twitter.svg");
	background-position: 50% 50%;
	background-size: 100%;
	background-repeat: no-repeat;
}

a.social.fb-btn{
	background-image: url("img/fb-icon.svg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

a.social.yt-btn{
	background-image: url("img/youtube.svg");
	background-position: 50% 50%;
	background-size: 100%;
	background-repeat: no-repeat;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


@font-face {
    font-family: 'PtSans';
    src: url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic'); 